.booking-main {
  width: 60vw;
  margin: auto;

  display: flex;

}

div {
  width: 20vw;
  padding: 1rem;
  min-height: 40vh;
  text-align: center;
}

.booking-bottom {
  margin: auto;
  border: 2px solid white;

  p {
    height: 1.5rem;
    font-size: 1.5rem;
  }
}
.heading{
  text-align: center;
  font-size: 4em;
  margin-bottom: 5rem;
}

.booking-main input{
  background-color: black;
  color: white;
  margin-top: 1em;
  height: 4.5rem;
  width: 12rem;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid var(--accent);
  margin-bottom: 3rem;
  box-shadow: 0px 0px 15px 0px rgba(4,90,196,0.9);
}