@use "@/app/globals";


table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2rem;

  tr {

    @include globals.Glow();
    border-radius: 1rem;
    border-width: 2px;
    background-color: transparent;

    td {

      padding: 0.5rem;
    }
  }
}