@import "@/app/globals";

div.recommended-card {
  font-family: 'Poppins';
  font-weight: 700;
  border-radius: 12px;
  min-height: 30vh;
  padding: 1rem;
  width: 30rem;
  background-color: #313244;
  h2{
    padding-bottom: 12px;
  }
  button{
    background-color: #89b4fa;
    width: 4rem;
    border: none;
    
  }
  div {
    img.icon {
      border-radius: 12px;
      width: 100%;
      height: 30vh;
      overflow: hidden;
    }
  }
}