@import "@/app/globals";

div.recommended-card {

  @include Glow();
  min-height: 30vh;
  padding: 1rem;
  width: 30rem;

  div {
    img.icon {
      width: 100%;
      height: 30vh;
      overflow: hidden;
    }
  }
}