@use "@/app/globals";

.small-image {
  width: auto;
  height: 40px !important;
}

.carousel-item {
  @include globals.Glow();
  border-radius: 1rem;
  border-width: 2px;
  background-color: transparent;
  padding: 1rem;
  width: 25vw;
  margin: 2rem auto;
  text-align: center;
  transition: all 0.3s ease-in-out;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  img {
    border-radius: 1rem;
    margin: auto;
  }
}

.carousel-item:hover {
  background-color: #f9f9f9;
  color: #000;
}